<div id="comments"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://rawgit.com/qhh0205/78e9e0b1f3114db6737f3ed8cdd51d3a/raw/3894c5be5aa2378336b1f5ee0f296fa0b22d06e9/md5.min.js"></script>

<script type="text/javascript">
	console.log('id: ', md5(location.pathname))
    $.getScript('<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/js/gitalk.js', function () {
        var gitalk = new Gitalk({
            clientID: '<%=theme.gitalk.ClientID %>',
            clientSecret: '<%=theme.gitalk.ClientSecret %>',
            repo: '<%=theme.gitalk.repo %>',
            owner: '<%=theme.gitalk.githubID %>',
            admin: ['<%=theme.gitalk.adminUser %>'],
			id: md5(location.pathname),
            distractionFreeMode: '<%=theme.gitalk.distractionFreeMode %>',
            language: '<%=theme.gitalk.language %>',
            perPage: parseInt('<%=theme.gitalk.perPage %>',10)
        })
        gitalk.render('comments')
    })
</script>
