<div id="comments"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://gist.githubusercontent.com/drg-blog/02758cf38944092d4171ba4aaf5b9d20/raw/ee6d9fbc93ae8dc16dfba020f6a4ddc82db725dd/md5.min.js"></script>

<script type="text/javascript">
    $.getScript('<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/js/gitalk.js', function () {
        var gitalk = new Gitalk({
            clientID: '<%=theme.gitalk.ClientID %>',
            clientSecret: '<%=theme.gitalk.ClientSecret %>',
            repo: '<%=theme.gitalk.repo %>',
            owner: '<%=theme.gitalk.githubID %>',
            admin: ['<%=theme.gitalk.adminUser %>'],
			id: md5(location.pathname),
            distractionFreeMode: '<%=theme.gitalk.distractionFreeMode %>',
            language: '<%=theme.gitalk.language %>',
            perPage: parseInt('<%=theme.gitalk.perPage %>',10)
        })
        gitalk.render('comments')
    })
</script>
